* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .navbar {
    background: linear-gradient(to right , gray ,rgb(180, 112, 112) , rgb(58, 57, 57));
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
  }
  .lol{
    width: 40px;
    padding: 0%;
    margin left: 70%;
    height: 100px;
     display: flex;

  }
  
  .brand {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-list {
    display: flex;
    font-weight: bolder;
    list-style: none;
    
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li a {
    color: #200d0d;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-list li a:hover {
    color: rgb(224, 81, 15);
  }
  
  /* Mobile menu styles */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    background-color: #290f0f;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: transform 0.3s ease-in-out;
  }
  
 